<p>edit-personnage works!</p>

<div>
    <div>
        <p>{{fighter | json}}</p>
    </div>
    <!-- <form [formGroup]="formgroup" (ngSubmit)="submit()">
        <div>
            <label for="name">Name : </label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div>
             <label for="name">LastName : </label>
             <input type="text" id="lastname" formControlName="lastname">
        </div>
        <div>
             <label for="name">Weight : </label>
             <input type="text" id="weight" formControlName="weight">
        </div>
        <div>
            <input type="submit" value="Edit">
        </div>
     </form> -->
</div>