@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Righteous&display=swap');


#container{
    max-width: 848px;
    height: 500px auto;
    border: 4px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.charact{
    margin: 5px;
    //background-color: red;
}
.bouton{
    margin: 5px;
}

#contenu{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
}

#info{
    margin: 15px;
}

.button{
    border: 4px solid black;
}

.fighter{
    image-rendering: pixelated;
}