* :not(img){
    margin: 0px;
    padding: 0px;  
    max-width: 100%;
}
body{
    background-color: #181425;

}

// @media only screen and (max-width: 375px) {
//     // body{
//     //     width: 375px;
//     // }
//   }
