@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Righteous&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
}

#title{
    width: 100%;
    text-align: center;
}