
<div id="container">
    <div id="scene">
        <div class="fghtr">
            <div *ngIf="fighter">
                <img class="fighter"[src]="'assets/'+ fighter.turnright" width="600" height="300" >
                <div>{{fighter.name}}</div>
            </div>           
            <!-- <div>
                {{fighter.name}}
            </div> -->
        </div>
        <div class="enmy">
            <div *ngIf="enemy">
                <img class="enemy"[src]="'assets/'+ enemy.turnleft" width="500" height="500" >
                <div>{{enemy.name}}</div>
            </div>
        </div>
    </div>
    <div id="text-box" *ngIf="fighter">
        <p>{{fightingText[cpt]}}</p> 
        <input type="button" value="continue" (click)="switchText()">   
    </div>
</div>